/node_modules
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant
/.vagrant
npm-debug.log
yarn-error.log
phpunit.txt
composer.lock

public/img/backend/blog_images/*
public/img/favicon_icon
public/img/frontend
public/mix-manifest.json
public/access.log
public/error.log
public/css
public/js/*.js
public/js/plugins
public/js/skins
public/js/themes
public/vendor
public/js/skins/*.js
/public/storage
/public/dist/icons
/public/dist/itk
/public/dist/a37b0c01c0baf1888ca812cc0508f6e2.ttf
/public/dist/e79bfd88537def476913f3ed52f4f4b3.eot
/public/dist/e79bfd88537def476913f3ed52f4f4b3.eot
/public/dist/glance-external-ITKReader.js
/public/dist/glance-external-Workbox.js
/public/dist/global.css
/public/dist/index.html
/public/dist/ParaView.png
/public/dist/ParaView.svg
/public/dist/ParaViewGlance.html
/public/dist/runtime.js
/public/dist/serviceWorker.js
/public/dist/vendors.js
/public/dist/version.js
/public/dist/workbox-sw-prod.v2.1.2.js
/public/itk
/public/build
/public/hot
/public/data
/public/node_modules
/public/src
/public/static
/public/version.js
/public/vendors.js
/public/serviceWorker.js
/public/runtime.js
/public/workbox-sw-prod.v2.1.2.js
/public/README.md
/public/.babelrc
/public/.editorconfig
/public/.eslintignore
/public/.eslintignore
/public/.eslintrc
/public/COPYRIGHT
public/.browserslistrc
public/CONTRIBUTING.md
public/dist/workbox-sw.prod.v2.1.2.js
public/workbox-sw.prod.v2.1.2.js
public/prettier.config.js
public/LICENSE
public/glance-external-Workbox.js
public/glance-external-ITKReader.js
public/externals/Workbox/serviceWorker.js
public/externals/Workbox/index.js
public/externals/ITKReader/ITKDicomImageReader.js
public/externals/ITKReader/index.js
public/glance.js
public/.eslintrc.js